<main>
    {{!-- <!-- welcome jumbotron -->
    <div class="jumbotron jumbotron-fluid bg-light" id="welcomeJumbo">
        <div class="container">
            <h1 class="display-4">Welcome, ! </h1>
        </div>
    </div> --}}

    <!-- Location Finder -->
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top"
                        src="https://static.vecteezy.com/system/resources/previews/000/599/083/non_2x/location-icon-vector.jpg"
                        alt="location finder">
                    <div class="card-main">
                        <p class="card-text">User input for kids favorite drinks and descriptions from the DB for hot chocolates and smoothies</p>
                    </div>
                </div>
            </div>

            <!-- Blog -->
            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://img.icons8.com/ios/452/blog.png" alt="blog">
                    <div class="card-main">
                        <p class="card-text">blog for those visiting the kids page</p>
                    </div>
                </div>
            </div>

            <!-- Picture Uploads -->
            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top"
                        src="https://icons-for-free.com/iconfiles/png/512/camera-131965017355314519.png"
                        alt="picture upload icon">
                    <div class="card-main">
                        <p class="card-text">
                        <form action="upload.php" method="post" enctype="multipart/form-data">
                            Select image to upload:
                            <input type="file" name="fileToUpload" id="fileToUpload">
                            <input type="submit" value="Upload Image" name="submit">
                        </form>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- toggle switches -->
    <div class="notifications" style="float:right;">
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="customSwitch1">
            <label class="custom-control-label" for="customSwitch1">Email Notifications</label>
        </div>
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="customSwitch2">
            <label class="custom-control-label" for="customSwitch2">Text Notifications</label>
        </div>
    </div>
</main>