<main>
    {{!--
    <!-- welcome jumbotron -->
    <div class="jumbotron jumbotron-fluid bg-light" id="welcomeJumbo">
        <div class="container">
            <h1 class="display-4">Welcome! </h1>
        </div>
    </div> --}}

    <!-- Location Finder -->
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top"
                        src="../public/assets/neighborhood-map.jpg"
                        alt="location finder">
                    <div class="card-body">
                        <p class="card-text">Location map of user input store locations</p>
                    </div>
                </div>
            </div>


            <!-- Blog -->
            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="../public/assets/blog1.jpg" alt="blog">
                    <div class="card-body">
                        <p class="card-text">Blog for information about various coffee shops input by users</p>
                    </div>
                </div>
            </div>

            <!-- Picture Uploads -->
            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="../public/assets/shopping.png" alt="picture upload icon">
                    <div class="card-body">
                        <p class="card-text">
                        <form action="upload.php" method="post" enctype="multipart/form-data">
                            User unput photos of coffee shop locations:
                            <input type="file" name="fileToUpload" id="fileToUpload">
                            <input type="submit" value="Upload Image" name="submit">
                        </form>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- toggle switches -->
    <div class="notifications" style="float:right;">
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="customSwitch1">
            <label class="custom-control-label" for="customSwitch1">Email Notifications</label>
        </div>
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="customSwitch2">
            <label class="custom-control-label" for="customSwitch2">Text Notifications</label>
        </div>
    </div>
</main>