$colors: (
  background-color: #ebf5fb,
  footer-color: black,
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

body {
  background-color: color(background-color);
  font-family: 'Merriweather', serif;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
    justify-content: center;
  }

  #welcomeJumbo {
    max-height: 100px;
  }
  
  .fa {
    padding: 10px;
    color: black;
  }

