body {
  background-color: #EBF5FB;
  font-family: 'Merriweather', serif;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
    justify-content: center;
  }

  #welcomeJumbo {
    max-height: 100px;
    padding: 16px;
    background-color: #EBF5FB;
  }
  
  .fa {
    padding: 10px;
    color: black;
  }

  .navbar {
    background-image: url(/public/assets/mountains.png);
    background-repeat: no-repeat;
    height: 100px;
    object-position: 20% 10%;
    object-fit: cover;
  }
