body {
  background-color: #EBF5FB;
  font-family: 'Merriweather', serif;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
    justify-content: center;
  }

  #welcomeJumbo {
    max-height: 100px;
  }
  
  .fa {
    padding: 10px;
    color: black;
  }