body {
  background-color: #EBF5FB;
  font-family: 'Merriweather', serif;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
    justify-content: center;
  }

  .social-media {
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100%;
    display: block;

  }

  .jumbotron {
    max-height: 200px;
  }
  